<div class="container">
	<div id="totals">
		<label>Totals</label>
		<h2>Total Donation:</h2>$<%= sprintf('%.2f', (@donation)) %>
		<h2>Boxes that had the option to name:</h2><%= @boxes.length %> boxes
		<h2>Memos:</h2>
		<% for box in @boxes %>
			<% if box[0] == "1" %>
				In honor of 
			<% elsif box[0] == "2" %>
				In memory of
			<% elsif box[0] == "3" %>
				In Celebration of
			<% end %>
			<%= box[1] %>
			<br/>
		<% end %>
		<br/>
	</div>
  	<script
    src=<%= @paypal_client_url%>>
  	</script>

  	<div id="paypal-button-container"></div>

	<script>
  		paypal.Buttons({
    		createOrder: function(data, actions) {
	      		return actions.order.create({
	        		purchase_units: <%= @units %>
	      		});
    		},
    		onApprove: function(data, actions) {
	      		return actions.order.capture().then(function(details) {
        			window.location.href = "/confirm_purchase";
      			});
    		}
  		}).render('#paypal-button-container');
	</script>
</div>
