<div class="container">
<p>
    <h1>Welcome to our Food Pantry <%= @type.capitalize %> Box Donation Site!</h1>
    Click checkout to get started with your donation!<br/>
</p>

<p>
    <h2>Donation Info</h2>
    As <%= @type.capitalize %> approaches, so does our opportunity to provide a box filled with healthy food to the families in our community.<br/><br/>
    The food pantry goal is to provide 100 boxes of food to 100 families.  We want them to know we are on their side... praying and helping whenever and however we are able.<br/><br/>
    Each of our boxes of food will cost approximately $50.00 and we are asking you to consider sponsoring a box as you pray for our success with this project.<br/><br/>
    Thank you for your continued prayers and your help with this <%= @type.capitalize %> blessing. </br><br/>
    ~ The Food Pantry Folks

    <%# In this hard year, we aim to keep our mission local instead of our normal global mission. This year's @type.capitalize donations will be going to the Edinburg FUMC Food Pantry to provide @type.capitalize boxes. In addition to our canned goods given out every month, we will include a produce box from Buster Lind and a meat box from Aguilar's Meat Market (including chicken, sausage, and agujas). Thank you for being willing to give! %>
</p>

<p>
    <h2>PayPal</h2>
    We are using PayPal to process transactions, however, you can also pay without an account. On this site, we are only accepting credit card orders. If you wish to donate in cash or by check, please email the church office at <a href="mailto:edinburgfirst@sbcglobal.net">edinburgfirst@sbcglobal.net</a> so that we can make arrangements.<br/>
</p>

<p>
    <br/>

    <p>
</p>

</div>

<div class="home_images">
    <img width="16.3%" height="750" style="object-fit: cover;" src="images/<%= @type %>/1.jpg">
    <img width="16.3%" height="750" style="object-fit: cover;" src="images/<%= @type %>/2.jpg">
    <img width="16.3%" height="750" style="object-fit: cover;" src="images/<%= @type %>/3.jpg">
    <img width="16.3%" height="750" style="object-fit: cover;" src="images/<%= @type %>/4.jpg">
    <img width="16.3%" height="750" style="object-fit: cover;" src="images/<%= @type %>/5.jpg">
    <img width="16.3%" height="750" style="object-fit: cover;" src="images/<%= @type %>/6.jpg">
</div>
