<div class="container">
<form action= "/process_boxes" method="POST">
<% for i in 0..@boxes %>
    <h1>Box <%= i+1 %>:</h1>
    <h2>Type</h2>
        <input type="radio" id="none<%= i %>" name="type<%= i %>" value="0">
        <label for="none<%= i %>">None</label>
        </br>

        <input type="radio" id="honor<%= i %>" name="type<%= i %>" value="1">
        <label for="honor<%= i %>">In Honor of...</label>
        </br>

        <input type="radio" id="memory<%= i %>" name="type<%= i %>" value="2">
        <label for="memory<%= i %>">In Memory of...</label>
        </br>

        <input type="radio" id="celebration<%= i %>" name="type<%= i %>" value="3">
        <label for="celebration<%= i %>">In Celebration of...</label>
        </br>

    </br>

    <label for="memo<%= i %>">Memo for box:</label>
    <input type="text" id="memo<%= i %>" name="memo<%= i %>">
    </br>

    <div class="mb-3">
        <p>If you would like to email the notification of a box purchased in honor of someone else to be sent to them, enter it here. Otherwise, leave this blank.<p>
        <label for="email">Email</label>
        <input class="form-control" placeholder="you@example.com" type="email" id="email" name="email<%= i %>">
        <div class="invalid-feedback">
            Please enter a valid email address.
        </div>
    </div>
    </br>

<% end %>
<input type="submit" value="Submit">
</form>
</div>
