<div class="container">
<form action= "/process_boxes" method="POST">
<% for i in 0..@boxes %>
    <h1>Box <%= i %>:</h1>
    <h2>Type</h2>
        <input type="radio" id="none" name="type<%= i %>" value="0">
        <label for="none">None</label>
        </br>

        <input type="radio" id="honor" name="type<%= i %>" value="1">
        <label for="honor">In Honor of...</label>
        </br>

        <input type="radio" id="memory" name="type<%= i %>" value="2">
        <label for="memory">In Memory of...</label>
        </br>

        <input type="radio" id="celebration" name="type<%= i %>" value="3">
        <label for="celebration">In Celebration of...</label>
        </br>

    </br>

    <label for="memo">Memo for box:</label>
    <input type="text" id="memo" name="memo<%= i %>">
    </br>

    <p>If you would like to email the notification of a box purchased in honor of someone else to be sent to them, enter it here. Otherwise, leave this blank.<p>
    <label for="recipient_email">Email</label>
    <input type="email" id="recipient_email" name="email<%= i %>">
    </br>

<% end %>
<input type="submit" value="Submit">
</form>
</div>
